# This is my very first jupyter notebook

### This is a code cell

In [4]:
# Let's try something simple

print('My name is Petar and I am a FINKI student!')

My name is Petar and I am a FINKI student!

###  Fancier way

In [5]:
def function():
    print("This is me again.")

In [6]:
function()

This is me again.

### Using one of the famous Python libraries - pandas

In [8]:
import pandas as pd

data = {'firstName': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'lastName': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}


df = pd.DataFrame(data, columns = ['firstName', 'lastName', 'age', 'preTestScore', 'postTestScore'])


df

  firstName  lastName  age  preTestScore  postTestScore
0     Jason    Miller   42             4             25
1     Molly  Jacobson   52            24             94
2      Tina       Ali   36            31             57
3      Jake    Milner   24             2             62
4       Amy     Cooze   73             3             70

## This is just a simple task in order to get used to working in this environment

# Cheers